<head>





<title> Gagan's Tiny App </title>

</head>

<header>


<% if(userId) {%>
 <li> <a href="/logout"> Logout </a> </li>
  <%= userId %> <form method= "POST" action = "/logout">
     <input type="submit" value = "Log Out">
  </form>

<%} else { %>
<li> <a href="/login"> Log In here </a> </li>
 <li> <a href="/register"> Register Here </a> </li>
 <form method= "POST" action="/login">
   userId: <input type="text" name = "userID">
    <input type="submit" value="Submit form">
  </form>
<% } %>



</header>





