<head>

<title> Gagan's Tiny App </title>

</head>

<header>

<% if(username) {%>

  <%= username %> <form method= "POST" action = "/logOut">
     <input type="submit" value = "Log Out">
  </form>

<%} else { %>
 <form method= "POST" action="/login">
   username: <input type="text" name = "username">
    <input type="submit" value="Submit form">
  </form>
<% } %>

</header>