

<% if(userId) {%>
 <li> <a href="/logout"> Logout </a> </li>
  <%= userId.email %> <form method= "POST" action = "/logout">
     <input type="submit" value = "Log Out">
  </form>


<% } %>









