<html lang="en">
<head>
</head>

<body>

 <form method="POST" action="/register">
 <h4> email </h4>   <input type="email" name="email">
 <h4> password </h4>  <input type="password" name="password">
 <input type="submit" name="log in">
</form>

</body>
</html>


<!-- if u put id in constructors, it wont wokr because id IS NOT A KEY in the var templat... so it wont work.  -->