
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_header %>
</head>

<body>
    <% for (i in urls) { %>
      <li>
        <%= `${i} - ${urls[i]}` %>  <form method="POST" action="/urls/<%= i %>/delete"> <a href='/urls/<%= i %>'>Edit </a> <input type="submit" value="Delete &#x1F5D1"> </form>
      </li>
    <% } %>

                                                              <!-- this is the deelete ^^button   command slash makes a comment -->

</body>
</html>