<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_header %>
</head>

<body>
 <%= longURL[shortURL].longURL %> - <%= shortURL %>

 <form method="POST" action="/urls/<%= shortURL %>">
  <input id="longURL" type="text" name="longURL">
  <button type= "submit"> "Update" </button>
</form>

    <a href='#'> </a>
</body>
</html>


<!-- if u put id in constructors, it wont wokr because id IS NOT A KEY in the var templat... so it wont work.  -->